{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DrabSport</title>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    {% if user.username %}
    <a href="/logout/">
        <button>Wyloguj</button>
    </a>
    {% else %}
    <a href="/login/">
        <button>Zaloguj</button>
    </a>

    <a href="/create_user/">
        <button>Zarejestruj</button>
    </a>
    {% endif %}
    {% if user.username %}
    <a href="/user_data/">
        <button>Twoje Pomiary</button>
    </a>
    <a href="/user_training_list/">
        <button>Trening</button>
    </a>
    {% if perms.Gym.view_user %}
    <a href="/user_list/">
        <button>Trener</button>
    </a>
    {% endif %}
    <br>
    Cześć {{user.username}}
    {% endif %}

</header>

{% block content %} {% endblock %}

</body>
</html>