{% extends 'base.html' %}
{% block content %}
<h1>{{plan.name}}</h1><br>

<ol>
    {% if exerciseset %}
    {% for exercise in exerciseset.all %}
    <li>
       <h2> <a href="/exercise_detail/{{exercise.exercise.pk}}/">{{exercise.exercise.name}}</a></h2><br>
        <table  id="{{exercise.pk}}">
            <tr>
                <th> </th>
                <th><b>Liczba serii</b></th>
                <th><b>Liczba powtórzeń</b></th>
                <th><b>Obciążenie</b></th>
            </tr>
            <tr>
                <td><b>Planowo: </b></td>
                <td>{{exercise.exercise_rounds}}</td>
                <td>{{exercise.exercise_reps}}</td>
                <td>{{exercise.exercise_weight}}</td>
            </tr>
        </table>
    </li>
    {% endfor %}
    {% endif %}
</ol>

<script src="/static/js/script.js"></script>
{% endblock %}

