{% extends 'trainer.html' %}
{% block content %}
<h2>Historia treningów użytkownika {{userplan.first_name}} {{userplan.last_name}}</h2><br>
<ul>
    {% for training, exercise_set_by_date in exercise_sets_by_plan.items %}
    <li>
        <h2>{{training}}</h2><br>
        <ol>
            {% for date, exerciseset in exercise_set_by_date.items %}
            <li>
                <h3>{{date}}:</h3>
                <table>
                    <tr>
                        <th>Nazwa ćwiczenia</th>
                        <th>Liczba serii</th>
                        <th>Liczba powtórzeń</th>
                        <th>Obciążenie</th>
                    </tr>
                    {% for exercise in exerciseset.all %}
                    <tr>
                        <td><a href="/exercise_detail/{{exercise.exercise.pk}}/">{{exercise.exercise.name}}</a></td>
                        <td>{{exercise.exercise_rounds}}</td>
                        <td>{{exercise.exercise_reps}}</td>
                        <td>
                            {{exercise.exercise_weight}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ul>

{% endblock %}
