{% extends 'trainer.html' %}
{% block content %}
<h1>{{plan.name}}</h1><br>

<table>
    <tr>
        <th>Nazwa ćwiczenia</th><th>Liczba serii</th><th>Liczba powtórzeń</th><th>Obciążenie</th>
    </tr>
    {% if exerciseset %}
    {% for exercise in exerciseset.all %}
    <tr>
        <td>{{exercise.exercise.name}}</td><td>{{exercise.exercise_rounds}}</td><td>{{exercise.exercise_reps}}</td><td>
        {{exercise.exercise_weight}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
<form method="post">
    {% csrf_token %}
    {{form}}
<input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit">Dodaj</button>
</form>
<br>


<a href="/user_plan_detail/{{plan.pk}}/"><button>Zakończ dodawanie</button></a>


{% endblock %}
